body {
	text-transform: uppercase;
	text-align: center;
	font-size: 13px;
	font-family: 'Ubuntu', sans-serif;
}
.meters .panel {
	height: 20rem;
}
.meters .panel-body {
	padding: 0;
	position: relative;
	height: 80%;
}
.center {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	margin: auto;
}
#status {
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: red;
	box-shadow: 0px 0px 50px rgba(255,0,0,0.5);
}
#status.on {
	background-color: lime;
	box-shadow: 0px 0px 50px rgba(0,255,0,0.5);
}